
    $titleColor:  rgba(27, 28, 33, 1);
    $swiperColor:  rgba(126, 126, 130, 1);
    $backgColor:  rgba(255, 255, 255, 1);
    $containColor:  rgba(248, 248, 248, 1);
    $linearGradient: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    $paginationBullet:  rgba(221, 221, 221, 1);
    $paginationBulFocus:  rgba(181, 182, 188, 1);
    $swiperFocusBorder:  2px solid rgba(184, 255, 236, 1);
    $slideType2Border: 1px solid rgba(234, 234, 234, 1);
    $line:  rgba(217, 255, 245, 1);
    $line1: rgba(234, 234, 234, 1);
    $spanPink: rgb(231, 15, 51);
    $IpadborderColor: rgba(128, 148, 159, 1);








