@import './main__colors';

@mixin main__modalka1 {
    body {
        margin: 0;
        overflow-x: hidden; 
    }

    .main__header-menuModal-contact-call {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 999; 

        .main__header-menuModal-contact-call-close{
            display: none !important;
            img{
                display: none;
            }
            }
    }
    .menuModal-contact-container-iconClose{
            display: none;
        }

        .main__header-menuModal-contact-call-close1 {
            width: 100%;
            height: 100%;
            display: flex !important;
            justify-content: flex-end;
            
            .main__header-menuModal-contact-call-closeBtn1{
                width: 40px;
                height: 40px;
                display: flex !important;
                justify-content: center;
                align-items: center;
                margin-right: 30px;
                margin-top: 25px;
                border: none;
                border-radius: 50%;
            }
            img {
                width: 40px;
                height: 40px;
            }
            }
           

    .main__header-menuModal-contact-call .menuModal-contact-call-body {
        width: 443px;
        height: 100%;
        background-color:$backgColor !important; 
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
        overflow-x: hidden;
}

    .main__header-menuModal-contact-call input {
        width: calc(100% - 50px) !important; 
        height: 48px;
        margin-left: 25px;
        margin-bottom: 20px;
    }

    .main__header-menuModal-contact-call input::placeholder {
        padding-left: 15px;
    }

.menuModal-contact-container-footer {
    display: none !important;
}

.main__header-menuModal-contact-call .menuModal-contact-container-footer2 {
    display: block !important;
    font-size: 13px;
    margin-left: 25px;
    color: $swiperColor;

    span {
        color: $spanPink;
    }
}

}